In [13]:
import pandas as pd

Ejercicio = pd.read_csv("D:/Users/ACER/Desktop/Proteus + Ardudino/OFEI1204.txt", sep=":")
Ejercicio

                                Ofertas Iniciales para   2017-12-04
0                                               AGENTE   AES CHIVOR
1    CHIVOR1 , D,  125,  125,  125,  125,  125,  12...          NaN
2    CHIVOR2 , D,  125,  125,  125,  125,  125,  12...          NaN
3    CHIVOR3 , D,  125,  125,  125,  125,  125,  12...          NaN
4    CHIVOR4 , D,  125,  125,  125,  125,  125,  12...          NaN
..                                                 ...          ...
512                                 FLORES1 , CONF,  1          NaN
513                                  FLORES1 , C,  GAS          NaN
514  FLORES4B , D,  450,  450,  450,  450,  450,  4...          NaN
515                                FLORES4B , CONF,  1          NaN
516                                 FLORES4B , C,  GAS          NaN

[517 rows x 2 columns]

In [30]:
Ejercicio.rename(columns = {"Ofertas Iniciales para":"Valores", " 2017-12-04":"Agente"}, inplace=True)
Ejercicio

                                               Valores       Agente
0                                               AGENTE   AES CHIVOR
1    CHIVOR1 , D,  125,  125,  125,  125,  125,  12...          NaN
2    CHIVOR2 , D,  125,  125,  125,  125,  125,  12...          NaN
3    CHIVOR3 , D,  125,  125,  125,  125,  125,  12...          NaN
4    CHIVOR4 , D,  125,  125,  125,  125,  125,  12...          NaN
..                                                 ...          ...
512                                 FLORES1 , CONF,  1          NaN
513                                  FLORES1 , C,  GAS          NaN
514  FLORES4B , D,  450,  450,  450,  450,  450,  4...          NaN
515                                FLORES4B , CONF,  1          NaN
516                                 FLORES4B , C,  GAS          NaN

[517 rows x 2 columns]

In [51]:
s=0
for i in Ejercicio["Agente"]:
    s=s+1
    if Ejercicio["Agente"][s] == "nan":
        print (Ejercicio["Agente"][s])

KeyError: 517