# Ejercicio 1

Determine para un número entero cualquiera si es par o impar
- Utilice una sentencia if - else

In [6]:
que_es=int(input("Numero cualquiera"))

resudu= que_es%2
if resudu != 0:
    print("es impar")
else:
    print("es par")

es par

**Ejercicio 2**:

Determine de un número cualquiera real entero positivo si es un número primo o no
- Tip: utilice un ciclo for para realizar dicha operación

In [44]:
q=int(input("Numero cualquiera"))
i=1
w=0
for i in range(1,q+1):
    e=q%i
    if e == 0:
        w=w+1
if w >= 3:
    print("no es primo")
else:
    print("primo")

no es primo

**Ejercicio 3**:

Cree una lista con cualquier tipo de dato del tamaño que usted considere, a dicha lista agregue un dato utilizando el método append

In [48]:
Lista2=list(range(0,20))

print(Lista2)
q=int(input("nuero"))
Lista2.append(q)
Lista2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 89]

**Ejercicio 4**:

Cree una lista con cualquier tipo de dato del tamaño que usted considere, a dicha lista elimine un dato utilizando algún método que permita hacerlo, consulte en el siguiente link los diferentes métodos asociados a las listas y busque el método apropiado:
- Métodos de las listas: https://docs.python.org/es/3/tutorial/datastructures.html

In [49]:
Lista2=list(range(0,15))

print(Lista2)
q=int(input("posicion"))
Lista2.pop(q)
Lista2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14]

**Ejercicio 5:**

En un colegio personalizado del país, se tienen salones constituidos por 5 estudiantes. La lista de estudiantes de uno de ellos es:

```
kinderA_lista = ['Gómez, Sebastián', 'Arango, Natalia', 'Zambrano, Javier', 'Domingo, Carolina'] 
````

Organice dicha lista en orden alfabético, guardándola en la misma variable e imprímala en pantalla.

- tip: para resolver este ejercicio consulte de nuevo los métodos de las listas, allí encontrará un método que permita ordenar la lista

In [59]:
kinderA_lista = ['Gómez, Sebastián', 'Arango, Natalia', 'Zambrano, Javier', 'Domingo, Carolina'] 
kinderA_lista.sort()
print(kinderA_lista)

['Arango, Natalia', 'Domingo, Carolina', 'Gómez, Sebastián', 'Zambrano, Javier']

**Ejercicio 6:** 

La siguiente lista representa una pequeña base de datos constituida por pacientes de una clinica en la ciudad de Medellín. Cada paciente se identifica como:

```
ID_numero-Medellin
```
Por motivos de optimización, un programador en `python`requier extraer solamente el número de identificación de cada elemento de la lista. Realice la extracción del número elemento por elemento, de la siguiente lista:

```
pacientes = ["ID_0001-Medellin","ID_0002-Medellin","ID_0003-Medellin","ID_0004-Medellin"]
```

- tip: consulte la documentación del método split para dar solución al ejercicio: https://python-reference.readthedocs.io/en/latest/docs/str/split.html

In [109]:
pacientes = ["ID_0001-Medellin","ID_0002-Medellin","ID_0003-Medellin","ID_0004-Medellin"]
lista3=[]
lista4=[]
for i in range(0,4):
    lista3.append(pacientes[i].split("-")[0])

lista3

['ID_0001', 'ID_0002', 'ID_0003', 'ID_0004']

**Ejercicio 7:**

Escriba un programa que permita calcular la suma de los 100 primeros números.

- tip: utilice un ciclo for para resolver el ejercicio, además consulte como utilizar un contador dentro de un ciclo

In [111]:
lista4=range(0,101)
t=0
for i in range (0,101):
    t=t+lista4[i]
t

5050

**Ejercicio 8:**

En matemáticas, la sucesión o serie de Fibonacci hace referencia a la secuencia ordenada de números descrita por Leonardo de Pisa, matemático italiano del siglo XIII:

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,…]

A cada uno de los elementos de la serie se le conoce con el nombre de número de Fibonacci.

Realice un programa que permita calcular una lista que contenga la serie fibonacci hasta la posición 20 así:

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

- Para calcular el siguiente número de la serie `numero(k+1) = numero(k-1) + numero(k)`

- tip: utilice un ciclo for e inicialice una lista con los siguientes números [0, 1] antes de ejecutar el for

In [116]:
list5=[0,1]

for i in range (0,20):
    list5.append(list5[i]+list5[i+1])
print(list5)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

**Ejercicio 9:** 

Cree una función que solicite al usuario una palabra e imprima si esta es un palíndromo o no. (Un palíndromo es una palabra o frase que se lee igual hacia adelante y hacia atrás), por ejemplo:

- Anilina, note que la palabra al leerla de izuqierda a derecha y de derecha a izquierda es exactamante igual

- tip: para resolver el ejercicio consulte como invertir una cadena de caracteres

In [131]:
lista6=list(input("ingrese una palabra"))
y=len(lista6)
lista7=lista6.copy()
lista7.reverse()
if lista6 == lista7:
    print("es un palindromo")
else:
    print("noup.exe")

['a', 'n', 'i', 'l', 'i', 'n', 'a']
es un palindromo

In [ ]:
import pandas as pd

In [16]:
ven=int(input("ingrese año nicial"))
ven2=int(input("ingrese el año final"))

dict_aux = {}
for i in range (ven, ven2+1):
    dict_aux[i]=float(input("ingrese el valor de la venta: "))
serie=pd.Series(data = dict_aux)
print(serie*0.9)

20     90.0
21    180.0
dtype: float64

In [27]:
df=pd.DataFrame(data=serie).rename(columns ={0:"csacasc"})

df

    csacasc
20    100.0
21    200.0

------------------------------------------------------------------------------------------

In [2]:
import pandas as pd
df_flights = pd.read_csv('https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/flights.csv')

In [5]:
df_flights.describe().T

,count,mean,std,min,25%,50%,75%,max
year,162049.0,2014.000000,0.000000,2014.0,2014.0,2014.0,2014.0,2014.0
month,162049.0,6.605027,3.324399,1.0,4.0,7.0,9.0,12.0
day,162049.0,15.749890,8.789417,1.0,8.0,16.0,23.0,31.0
dep_time,161192.0,1278.283755,522.583793,1.0,831.0,1217.0,1721.0,2400.0
dep_delay,161192.0,6.133859,29.112035,-37.0,-5.0,-2.0,5.0,1553.0
arr_time,161061.0,1482.501282,523.958781,1.0,1127.0,1517.0,1918.0,2400.0
arr_delay,160748.0,2.240868,31.191037,-67.0,-12.0,-4.0,7.0,1539.0
flight,162049.0,1357.356725,1495.271031,2.0,408.0,694.0,1726.0,6527.0
air_time,160748.0,152.588511,72.547469,18.0,103.0,129.0,199.0,422.0
distance,162049.0,1204.514634,653.150062,93.0,689.0,991.0,1660.0,2724.0
hour,161192.0,12.479515,5.232476,0.0,8.0,12.0,17.0,24.0
minute,161192.0,30.332244,18.061569,0.0,14.0,30.0,47.0,59.0

In [9]:
cat_df_fligths= df_flights.select_dtypes(include = "O").copy()
cat_df_fligths

       carrier tailnum origin dest
0           AS  N508AS    PDX  ANC
1           US  N195UW    SEA  CLT
2           UA  N37422    PDX  IAH
3           US  N547UW    PDX  CLT
4           AS  N762AS    SEA  ANC
...        ...     ...    ...  ...
162044      UA  N477UA    PDX  IAH
162045      DL  N137DL    SEA  ATL
162046      AS  N530AS    SEA  SAN
162047      US     NaN    PDX  PHX
162048      WN  N790SW    SEA  SMF

[162049 rows x 4 columns]

In [12]:
cat_df_fligths.isnull().sum()
#cat_df_fligths.isnull().sum().sum()

carrier      0
tailnum    248
origin       0
dest         0
dtype: int64

In [14]:
cat_df_fligths_onehot =pd.get_dummies(cat_df_fligths,columns=["carrier","origin"],prefix=["carrier","origin"])
cat_df_fligths_onehot

,tailnum,dest,carrier_AA,carrier_AS,carrier_B6,carrier_DL,carrier_F9,carrier_HA,carrier_OO,carrier_UA,carrier_US,carrier_VX,carrier_WN,origin_PDX,origin_SEA
0,N508AS,ANC,0,1,0,0,0,0,0,0,0,0,0,1,0
1,N195UW,CLT,0,0,0,0,0,0,0,0,1,0,0,0,1
2,N37422,IAH,0,0,0,0,0,0,0,1,0,0,0,1,0
3,N547UW,CLT,0,0,0,0,0,0,0,0,1,0,0,1,0
4,N762AS,ANC,0,1,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162044,N477UA,IAH,0,0,0,0,0,0,0,1,0,0,0,1,0
162045,N137DL,ATL,0,0,0,1,0,0,0,0,0,0,0,0,1
162046,N530AS,SAN,0,1,0,0,0,0,0,0,0,0,0,0,1
162047,NaN,PHX,0,0,0,0,0,0,0,0,1,0,0,1,0
162048,N790SW,SMF,0,0,0,0,0,0,0,0,0,0,1,0,1

In [17]:
cat_df_fligths_encoding= cat_df_fligths.copy()
cat_df_fligths_encoding["target"]=df_flights["dep_time"]
cat_df_fligths_encoding.head()

  carrier tailnum origin dest  target
0      AS  N508AS    PDX  ANC     1.0
1      US  N195UW    SEA  CLT     4.0
2      UA  N37422    PDX  IAH     8.0
3      US  N547UW    PDX  CLT    28.0
4      AS  N762AS    SEA  ANC    34.0

1278.283754776912

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 26