In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [63]:
pd.set_option('display.max_columns', 35)

In [64]:
df_date = pd.read_excel("Data DS Cotton Plus.xlsx", sheet_name = "BD")

In [65]:
X = df_date.loc[:, 'Genero'] == 'Mujer'
X.sum()

5980

In [66]:
X = df_date.loc[:, 'Genero'] == 'Hombre'
X.sum()

3996

In [67]:
X = df_date.loc[:, 'Genero'] == 'Mujer'
X

0        True
1       False
2        True
3        True
4        True
        ...
9971     True
9972     True
9973     True
9974     True
9975    False
Name: Genero, Length: 9976, dtype: bool

In [68]:
rows = df_date.shape[0]
columns = df_date.shape[1]
print(rows, columns)

9976 40

In [69]:
cell_count = rows * columns
cell_count

399040

In [70]:
number_of_nulls = df_date.isnull().sum().sum()
percentage_of_missing = (number_of_nulls/cell_count)*100
print(f"Porcentage de valores nulos en el dataset: ---> {percentage_of_missing}%")
print(f"Cantidad de valores nulos:--------------------> {number_of_nulls}")

Porcentage de valores nulos en el dataset: ---> 12.5%
Cantidad de valores nulos:--------------------> 49880

In [71]:
df_date.isnull().sum()

Cedula                                                                 0
Nombre Completo                                                        0
Segmento                                                               0
Compro 2019?                                                           0
Compro 2020?                                                           0
Monto Comprado 2019?                                                   0
Nro Transacciones 2019                                                 0
Monto Comprado 2020                                                    0
Nro Transacciones 2020                                                 0
Tipo de Contacto                                                       0
Es Contactable                                                         0
Ciudad de Residencia                                                   0
Mail                                                                9976
Direccion                                                           9976
Genero                                                                 0
Estado Civil                                                           0
Fecha Nacimiento                                                       0
Mes Nacimiento                                                         0
Dia Nacimiento                                                         0
Edad                                                                   0
Monto Total de ultima compra                                           0
Cantidad Articulos                                                     0
Recencia (Tiempo transcurrido en semanas desde su ultima compra)       0
Frecuencia (Cantidad items comprados)                                  0
Direccion Valido?                                                      0
Mail Valido?                                                           0
Cel Valido?                                                            0
Tel Ofc Valid?                                                         0
Tel Casa Valido?                                                       0
Telefono Movil                                                      9976
TelefonoOficina                                                     9976
Telefono Casa                                                       9976
Monto - MARCA COTTON- B/quilla.                                        0
Monto - Brand Store Cucuta                                             0
Monto - MARCA COTTON- Bucaramanga                                      0
Monto - MARCA COTTON- Manizales                                        0
Monto - MARCA COTTON- Pereira                                          0
Monto - MARCA COTTON- Cartagena                                        0
Monto - MARCA COTTON- Pasto                                            0
Monto - MARCA COTTON- Cable Plaza                                      0
dtype: int64

In [72]:
df_date["Telefono Casa"] = df_date["Telefono Casa"].fillna(np.mean)
df_date["Telefono Casa"] = df_date["Telefono Casa"].replace(np.mean, "nan")

In [73]:
df_date["Mail"] = df_date["Mail"].fillna(np.mean)
df_date["Mail"] = df_date["Mail"].replace(np.mean, "nan")

In [74]:
df_date["Direccion"] = df_date["Direccion"].fillna(np.mean)
df_date["Direccion"] = df_date["Direccion"].replace(np.mean, "nan")

In [75]:
df_date["TelefonoOficina"] = df_date["TelefonoOficina"].fillna(np.mean)
df_date["TelefonoOficina"] = df_date["TelefonoOficina"].replace(np.mean, "nan")

In [76]:
df_date["Telefono Movil"] = df_date["Telefono Movil"].fillna(np.mean)
df_date["Telefono Movil"] = df_date["Telefono Movil"].replace(np.mean, "nan")

In [77]:
df_date.isnull().sum()

Cedula                                                              0
Nombre Completo                                                     0
Segmento                                                            0
Compro 2019?                                                        0
Compro 2020?                                                        0
Monto Comprado 2019?                                                0
Nro Transacciones 2019                                              0
Monto Comprado 2020                                                 0
Nro Transacciones 2020                                              0
Tipo de Contacto                                                    0
Es Contactable                                                      0
Ciudad de Residencia                                                0
Mail                                                                0
Direccion                                                           0
Genero                                                              0
Estado Civil                                                        0
Fecha Nacimiento                                                    0
Mes Nacimiento                                                      0
Dia Nacimiento                                                      0
Edad                                                                0
Monto Total de ultima compra                                        0
Cantidad Articulos                                                  0
Recencia (Tiempo transcurrido en semanas desde su ultima compra)    0
Frecuencia (Cantidad items comprados)                               0
Direccion Valido?                                                   0
Mail Valido?                                                        0
Cel Valido?                                                         0
Tel Ofc Valid?                                                      0
Tel Casa Valido?                                                    0
Telefono Movil                                                      0
TelefonoOficina                                                     0
Telefono Casa                                                       0
Monto - MARCA COTTON- B/quilla.                                     0
Monto - Brand Store Cucuta                                          0
Monto - MARCA COTTON- Bucaramanga                                   0
Monto - MARCA COTTON- Manizales                                     0
Monto - MARCA COTTON- Pereira                                       0
Monto - MARCA COTTON- Cartagena                                     0
Monto - MARCA COTTON- Pasto                                         0
Monto - MARCA COTTON- Cable Plaza                                   0
dtype: int64

In [78]:
df_date.head()

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020,Tipo de Contacto,Es Contactable,Ciudad de Residencia,Mail,Direccion,Genero,Estado Civil,Fecha Nacimiento,...,Frecuencia (Cantidad items comprados),Direccion Valido?,Mail Valido?,Cel Valido?,Tel Ofc Valid?,Tel Casa Valido?,Telefono Movil,TelefonoOficina,Telefono Casa,Monto - MARCA COTTON- B/quilla.,Monto - Brand Store Cucuta,Monto - MARCA COTTON- Bucaramanga,Monto - MARCA COTTON- Manizales,Monto - MARCA COTTON- Pereira,Monto - MARCA COTTON- Cartagena,Monto - MARCA COTTON- Pasto,Monto - MARCA COTTON- Cable Plaza
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0,11001,Si,BUCARAMANGA,nan,nan,Mujer,No hay informacion,19000225,...,6,Si,Si,No,No,Si,nan,nan,nan,0,0,0,0,0,0,0,0
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0,11001,Si,BARRANQUILLA,nan,nan,Hombre,No hay informacion,19561016,...,1,Si,Si,No,No,Si,nan,nan,nan,179900,0,0,0,0,0,0,0
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0,11101,Si,BARRANQUILLA,nan,nan,Mujer,No hay informacion,19550707,...,13,Si,Si,Si,No,Si,nan,nan,nan,451200,0,0,0,0,0,0,0
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0,11001,Si,MANIZALES,nan,nan,Mujer,No hay informacion,19620520,...,17,Si,Si,No,No,Si,nan,nan,nan,0,0,0,0,0,0,0,1859600
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0,11101,Si,FLORIDABLANCA,nan,nan,Mujer,No hay informacion,19660709,...,5,Si,Si,Si,No,Si,nan,nan,nan,0,0,0,0,0,0,0,0

In [79]:
df_date["Monto Comprado 2019?"].unique()

array([264800, 179900, 189800, ..., 411680, 191260, 254960], dtype=int64)

In [80]:
df_date["Segmento"].unique()

array(['Aficionados', 'Esporádicos', 'Curiosos', 'Inactivo', 'Adictos'],
      dtype=object)

In [81]:
X = df_date.loc[:, "Monto Comprado 2020"] == 0
X.sum()
#"No compraron en 2020"

9003

In [82]:
X = df_date.loc[:, "Compro 2020?"] == 'No'
X.sum()
#"No compraron en 2020"

9003

In [83]:
X = df_date.loc[:, "Compro 2020?"] == 'Si'
X.sum()
#"compraron en 2020"

973

In [85]:
df_date.iloc[:, 0:9]

,Cedula,Nombre Completo,Segmento,Compro 2019?,Compro 2020?,Monto Comprado 2019?,Nro Transacciones 2019,Monto Comprado 2020,Nro Transacciones 2020
0,1,Nombre Cliente 1,Aficionados,Si,No,264800,2,0,0
1,2,Nombre Cliente 2,Esporádicos,Si,No,179900,1,0,0
2,3,Nombre Cliente 3,Aficionados,Si,No,189800,2,0,0
3,4,Nombre Cliente 4,Aficionados,Si,No,65900,1,0,0
4,5,Nombre Cliente 5,Aficionados,Si,No,238800,2,0,0
...,...,...,...,...,...,...,...,...,...
9971,9972,Nombre Cliente 9972,Aficionados,Si,No,191260,4,0,0
9972,9973,Nombre Cliente 9973,Aficionados,Si,No,371600,5,0,0
9973,9974,Nombre Cliente 9974,Aficionados,Si,No,254960,3,0,0
9974,9975,Nombre Cliente 9975,Esporádicos,Si,No,159920,1,0,0
9975,9976,Nombre Cliente 9976,Esporádicos,No,No,0,0,0,0

In [87]:
df_date["Frecuencia (Cantidad items comprados)"]

0        6
1        1
2       13
3       17
4        5
        ..
9971     4
9972     5
9973     3
9974     1
9975     1
Name: Frecuencia (Cantidad items comprados), Length: 9976, dtype: int64

##Modelos mas utilizados en el sector financiero
Se utiliza en Modelado de Riesgo de Crédito, Detección de fraudes, Segmentación de clientes, Motor de recomendaciones;
utilizan varios modelos como el random forest, redes neuronales, decision tree, etc.

#Funcionamiento y uso del modelo Churn 
La predicción de churn es uno de los usos de big data más populares en los negocios de las startups, 
ya que permite detectar a los usuarios con mayores probabilidades de dar de baja una suscripción o un servicio.
##Funcionamiento
El cálculo de churn rate es relativamente sencillo: Número de suscriptores perdidos durante un periodo de tiempo / ("dividido")
Número de suscriptores que teníamos al inicio de periodo. Normalmente el cálculo de la tasa se realiza mensualmente, 
aunque podemos marcar el tiempo según nos interese.